<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <%- include('headerLinks') %>
    <style>
       .image-container {
            overflow: hidden;
            /* width: 200px;
            height: 300px; */
            /* border: solid blue 2px; */
        }

        .image-container img {
            transition: transform 0.3s ease-in-out;
        }

        .image-container:hover img {
            transform: scale(1.1);
        }

        .img-fluid {
            /* max-width: 300px; */
            max-height: 300px;
            /* height: auto; */
            /* border: solid red 2px; */
        }

        aside {
            float: right;
        }
    </style>

</head>
<body>
    <%- include('navComponent') %>
    <div class="mb-2">
        <ul class="navbar-nav flex-row justify-content-around">
            <li class="nav-item"><a href="#overview" class="nav-link">Overview</a></li>
            <li class="nav-item"><a href="#info-and-price" class="nav-link">Info and Prices</a></li>
            <li class="nav-item"><a href="#facilities" class="nav-link">Facilities</a></li>
            <li class="nav-item"><a href="#reviews" class="nav-link">Reviews</a></li>
        </ul>
    </div>
    <hr>

    <div class="d-flex justify-content-between">
        <h3><%= hotel.name %></h3>
        <button class="btn btn-primary"><a href="#info-and-price" class="nav-link">Reserve</a></button>
    </div>

    <div id="overview">
        <aside>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126886.9036091387!2d99.77981018706141!3d6.366120269761904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304c7cc7155b5f49%3A0xe45b745fe15653d5!2sKilim%20Geoforest%20Park!5e0!3m2!1sen!2sin!4v1715727792109!5m2!1sen!2sin"
                width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>

        <div class="container">
            <div class="row" id="imageRow">
                <% hotel.imagesUrl.forEach((url, index) => { %>
                    <div class="col-md-3">
                        <div class="image-container" data-bs-toggle="modal" data-bs-target="#imageModal">
                            <img src="<%= url %>" class="img-fluid" alt="Image <%= index + 1 %>">
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <div>
            <p><%= hotel.description %></p>
        </div>
    </div>

    <div id="info-and-price">
        <h4>Rooms and Prices</h4>
        <div id="roomsContainer">
            <% rooms.forEach(room => { %>
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="<%= room.roomImageUrl %>" class="img-fluid rounded-start" alt="room">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= room.type %></h5>
                                <p class="card-text">Price: $<%= room.price %></p>
                                <p><%= room.facilities.join(', ') %></p>
                                <a href="/api/hotel/payment?hotelId=<%= hotel._id %>&roomId=<%= room._id %>" class="btn btn-danger">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div id="facilities">
        <h4>Facilities</h4>
        <ul>
            <% hotel.facilities.forEach(facility => { %>
                <li><%= facility %></li>
            <% }) %>
        </ul>
    </div>

    <div id="reviews">
        <h4>Reviews</h4>
    </div>

    <%- include('footerScripts') %>
</body>
</html>
